.sortable-code {
	padding-left: 0px;
	margin-left: 2%;
	float: left;
	min-width: 400px;
}
#sortableTrash { width: 38%; }
#sortable { width: 56%; }
.sortable-code ul {
    font-size: 120%;
    font-family: monospace;
    list-style: None;
	background-color: #efefff;
    padding-bottom: 40px;
	padding-left: 0;
	margin-left: 0;
}
.sortable-code li {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background-color:#EFEFEF;
    border:1px solid lightgray;
    padding:10px;
    margin-top: 5px;
    white-space: nowrap;
    overflow: hidden;
}
.sortable-code li:hover {
	overflow: visible;
}

ul.incorrect {
    background-color: #ffefef;
}

ul.correct {
    background-color: #efffef;
}

li.incorrectIndent {
    border-left: 10px solid red;
}

li.correctIndent {
    border-left: 10px solid green;
}

li.incorrectPosition {
    background-color: #fee;
}

li.correctPosition {
    background-color: #efe;
}