.indent-1 {
	padding-left: 0px;
}

.indent-2 {
	padding-left: 100px;
}

.indent-3 {
	padding-left: 200px;
}

.sortable-code {
	padding-left: 0px;
	margin-left: 50px;
	float: left;
	width: 500px;
}
.ui-sortable {
    font-size: 120%;
    font-family: monospace;
    list-style: None;
	min-height: 150px;
	background-color: #efefff;
	padding-left: 0;
	margin-left: 0;
}
.ui-sortable li {
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    background-color:#EFEFEF;
    border:1px solid lightgray;
    padding:10px;
    margin-top: 5px;
}

li.incorrectIndent {
    border-left: 10px solid red;
}

li.correctIndent {
    border-left: 10px solid green;
}

li.incorrectPosition {
    background-color: #fee;
}

li.correctPosition {
    background-color: #efe;
}