<footer class="site-footer container">
    <h2 class="footer-heading">{{ site.title }}</h2>

  <div class="row">


    <div class="col-md-4">
      <ul>
        <!--<li>Contact us: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>-->
        <li><a href="{{ site.github }}">Get the code</a></li>
        <li>MIT <a href="{{site.github}}blob/master/LICENSE">Licensed</a></li>
      </ul>
    </div>

    <div class="col-md-1">
    </div>

    <div class="col-md-7">
      <p class="text">{{ site.description }}</p>
    </div>

  </div>

</footer>
